.currencyBlock {
	display: flex;
	justify-content: center;
	align-items: center;
	flex-direction:  column;
	margin: 0 auto;
}

@media (max-width:1317px ) {
	.currencyBlock{
		flex-direction: row;
	}
}