.sliderWrapper *{
margin-bottom: 5px;
}

.innerSlider{
	background:transparent;
}

.sliderWrapper {
  width: 760px;
  margin: auto;
  height:auto;
}

.slickSlide {
  text-align: center;
  position: relative;
}

.arrowsClass{
	color: #ffd166
}

.slickSlideTitle {
  text-transform: capitalize;
}

.slickSlideLabel {
  color: white;
  padding: 10px;
  position: absolute;
  left: 0px;
  bottom: 0px;
  width: 90%;
  bottom:0;
  left:50%;
  transform:translate(-50%, 0%);
  background: linear-gradient(90deg, rgba(114,109,177,0.8) 0%, rgba(50,149,113,1) 36%, rgba(102,184,162,1) 73%, rgba(0,212,255,0.8) 100%);
  font-size: 1.5rem;
  line-height: 26px;
}





@media(max-width:900px){
  .sliderWrapper {
    width: 600px;
  }
  /* .slickSlideLabel{
    font-size: 1.25rem;
  } */

}

@media(max-width:700px){
  .sliderWrapper {
    width: 550px;
  }
  /* .slickSlideLabel{
    font-size: 1rem;
  } */

}

@media(max-width:620px){
  .sliderWrapper {
    width: 450px;
  }
  /* .slickSlideLabel{
    font-size: 0.8rem;
  } */
}

@media(max-width:512px){
  .sliderWrapper {
    width: 380px;
  }
}

@media(max-width:420px){
  .sliderWrapper {
    width: 320px;
  }

}

@media(max-width:350px){
    .sliderWrapper {
      width: 250px;
    }

}
